# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# TensorFlow / Keras
*.ckpt

# Datasets / Large files
genres_original/
Test_Music/

# Streamlit / logs
*.log
